* {
    margin:0%;
    padding:0;
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
}
.menu {
    width: 100%;
    height: 10vh;
    float: left;
    background-color: #000;
    position: relative;
}
.menu a {
    float: left;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    padding: 12px;
    padding-right: 16px;
    color: #8e8e8e;
    margin: 25px;
    list-style-type: none;
}
.menu a ul a{
    margin-right: 16px;
    margin-left: 16px;
}
#signin {float: right; margin-right: 179px;}

.box-logo {box-sizing: border-box; display:block;position: relative;margin-left: 200px;}
.logo {max-width: 100%; display: block; width: 136px; height: 25px;}

.section-1 {
    background-image:url("./asset/images/finishyoursong-3.jpg");
    background-position: center;
    background-size:100%;
    width: 100%;
    height: 825px;
    
}

.section-1-texts {
    height: 720px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    padding: 60px;
    max-width: 1248px;
    margin-left: 200px;
    margin-right: 120px;
    width: 100%;
}
.section-1-texts-wrapper {
    width: 50%;
    align-items: flex-start;
    align-self: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
}
.header-1{
    width: 720px;
    padding-bottom: 24px;
    font-size: 80px;
    font-weight: 900;
    line-height: 88px;
    color: white;
}
.header-2{
    color: white;
    display: block;
    padding: 0px 0px 1em;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.buttons{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}
.first-button{
    border-radius: 500px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    align-self: center;
    cursor: pointer;
}
.first-button-text{
    margin-right: 16px;
    background-color: #4100f5;
    color: white;
    border-radius: 500px;
    padding: 17px 48px;
}
.second-button{
    display: block;
    
}
.second-button-text{
    width: 100%;
    background-color: white;
    border-radius: 500px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    padding: 17px 48px;
    line-height: 0.8;
    position: relative;
    border: 1px solid #868686;
    color: #000000;
}
.play-button{
    align-items: center;
    display: flex;
    
}
.button-playbutton{
    align-items: center;
    background-color: white;
    border-radius: 100%;
    color: rgb(65, 0, 245);
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 16px;
    width: 40px;
    border: 0px;
    cursor: pointer;
    position: relative;
    text-align: center;
    font: 400 13.3333px Arial;
}
.play-button-text{
    cursor: default;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.section-1-img-info{
    align-self: flex-end;
}

.section-1-img-info-text{
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
}
.section-1-artistinfo{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.section-1-artistinfo-box{
    text-decoration: none;
    color: white;
}
.section-1-artistinfo-2{
    opacity: 0.8;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color:white;
}

/* ----- SECTION 2 ----- */

.section-2{
    display: block;
}
.discover-container{
    padding-bottom: 48px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.discover-title{
    text-align: center;
    line-height: 40px;
    letter-spacing: -0.5px;
    display: block;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.discover-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 32px 0px;
    width: 100%;
}

.discover-imgs a{
    padding: 8px;
    width: calc(33% - 8px);
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.discover-imgs a div{
    height: 185px;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    text-align: center;
}
.discover-imgs h4{
    text-shadow: 1px 1px 6px black;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: white;
    font-weight: 700;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.producer-block-background{
    background-image: url(./asset/images/sb-category-producers.jpg);
}
.singers-block-background{
    background-image: url(./asset/images/sb-category-female-singers.jpg);

}
.mixing-block-background{
    background-image: url(./asset/images/sb-category-mixing-engineers.jpg);

}
.songwrites-block-background{
    background-image: url(./asset/images/sb-category-songwriters.jpg);

}
.mastering-block-background{
    background-image: url(./asset/images/sb-category-mastering-engineers.jpg);

}
.session-block-background{
    background-image: url(./asset/images/sb-category-live-drum-tracks.jpg);

}
.more-categories{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.more-categories button {
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
    color: #4100f5;
    padding: 20px 56px;
    margin-left: 145px;
}


.section-9{
    background-color: #181818;
    font-family:Helvetica, Arial, sans-serif;
}
.section-9 .container{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 72px 48px;

    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.section-footer{
    background-color: #000;
    color: #8e8e8e;
    font-family: Helvetica, Arial, sans-serif;

}
.footer{    
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    bottom: 0px;
    height: 290px;
    padding-bottom: 80px;
    padding-top: 80px;

    padding-left: 48px;
    padding-right: 48px;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.footer .tagline{
    max-width: 332px;

}
.footer .tagline .text-tagline{
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px 0px 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.25px;
    color: #8e8e8e;
    font-weight: 700;
}

.section-footer .footer .footer-links{
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    height: 120px;
}

.footer .footer-links .links {
    margin-bottom: 4px;
    display: block;
    box-sizing: border-box;
    font-family:Helvetica, Arial, sans-serif;
    align-items: center;
    text-decoration: none;
    color: #8e8e8e;
}
.footer .footer-links .links:hover{
    text-decoration: underline;
}
.footer-socials{
    display: flex;
    

}

/* ---- Section 3 ---- */

.section-3-wanttowork{
    background-color: #f5f5f5;
}
.section-3-wanttowork article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0px;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.section-3-wanttowork article h1{
    font-size: 48px;
    line-height:56px;
    letter-spacing: -1px;
    font-weight: 700;
    
}
.section-3-wanttowork article p{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-block-start: 1em;
    margin-block-end: 1em;
}


.section-3-stamps{
    display: block;
}
.section-3-stamps-conteiner{
    display: flex;
    flex-direction: row;
    padding: 90px 48px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 1248px;
    margin-left: auto;
    margin-right: auto;
}
.canvas{
    height: 32px;
    width: 32px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #000000;
    border-radius: 50%;
}
.canvas .draw{
    stroke-width: 0.8pt;
    fill: #ffffff;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.section-3-stamps-conteiner div{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    width: 310px;

}
.section-3-stamps-image{
    padding: 16px;
    text-align: center;
}

.section-3-stamps-conteiner h1{
    text-align: center;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 700;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.section-3-stamps-conteiner p{
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}