* {
    margin:0%;
    padding:0;
    box-sizing: border-box;
}
.menu {width: 100%; height: 10vh;float: left; background-color: #111;position: relative;}
.menu a {float: left; text-decoration: none;font-size: 12px;line-height: 16px;letter-spacing: 1px;text-transform: uppercase;border: 0px;display: inline-block;font-weight: 700;padding: 12px 16px 10px; padding-right: 40px;}
.menu a {color: #8e8e8e; margin: 25px;list-style-type: none;box-sizing: border-box;font-family: Helvetica, Arial, sans-serif;}
#signin {float: right;}

.box-logo {box-sizing: border-box; display:block;position: relative;}
.logo {max-width: 100%; display: block; width: 136px; height: 25px;}

.section-1 {
    background-image:url("./asset/images/finishyoursong-3.jpg");
    background-position: center;
    background-size:100%;
    width: 100%;
    height: 825px;
    
}

.section-1-texts {
    height: 720px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    padding: 64px;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.section-1-texts-wrapper {
    width: 50%;
    align-items: flex-start;
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.header-1{
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -1.75px;
    line-height: 56px;
    color: white;
}
.header-2{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px 0px 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
}
.buttons{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}
.first-button{
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    align-self: center;
    color: -webkit-link;
    cursor: pointer;
}
.first-button-text{
    margin-bottom: 0px;
    margin-right: 16px;
    white-space: nowrap;
    background-color: #4100f5;
    color: white;
    border-radius: 500px;
    font-size: inherit;
    padding: 17px 48px;
}
.second-button{
    display: block;
    
}
.second-button-text{
    width: 100%;
    background-color: white;
    border: 0px;
    white-space: nowrap;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    border-radius: 500px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 17px 48px;
    line-height: 0.8;
    position: relative;
    border: 1px solid #868686;
    color: #000000;
}
.play-button{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    filter: brightness(100%);
    
}
.button-playbutton{
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    color: rgb(65, 0, 245);
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 16px;
    width: 40px;
    
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    border: 0px;
    line-height: 1;
    letter-spacing: inherit;
    padding: 0px;
    cursor: inherit;
    position: relative;
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    font: 400 13.3333px Arial;
}
.play-button-text{
    cursor: default;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.section-1-img-info{
    display: block;
    align-self: flex-end;
    z-index: 1;
}

.section-1-img-info-text{
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 12px 16px;
}
.section-1-artistinfo{
    padding-bottom: 4px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: inherit;
    font-weight: 700;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.section-1-artistinfo-box{
    text-decoration: none;
    color: white;
}
.section-1-artistinfo-2{
    opacity: 0.8;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color:white;
}

/* ----- SECTION 2 ----- */

.section-2{
    display: block;
}
.discover-container{
    padding-bottom: 48px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.discover-title{
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 28px;
    letter-spacing: -0.25px;
    line-height: 36px;
    color: inherit;
    font-weight: 700;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.discover-imgs{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 32px 0px;
    width: 100%;
}

.discover-imgs a{
    padding: 8px;
    width: calc(33% - 8px);
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.discover-imgs a div{
    height: 185px;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    text-align: center;
}
.discover-imgs h4{
    text-shadow: 1px 1px 6px black;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: white;
    font-weight: 700;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.producer-block{
    
    
}
.producer-block-background{
    background-image: url(./asset/images/sb-category-producers.jpg);
}
.producer-text{

}
.singers-block{
    
}
.singers-block-background{
    background-image: url(./asset/images/sb-category-female-singers.jpg);

}
.singers-text{

}
.mixing-block{
    
}
.mixing-block-background{
    background-image: url(./asset/images/sb-category-mixing-engineers.jpg);

}
.mixing-block-text{

}
.songwrites-block{
    
}
.songwrites-block-background{
    background-image: url(./asset/images/sb-category-songwriters.jpg);

}
.songwrites-block-text{

}

.mastering-block{

}
.mastering-block-background{
    background-image: url(./asset/images/sb-category-mastering-engineers.jpg);

}
.mastering-block-text{

}

.session-block{
    
}
.session-block-background{
    background-image: url(./asset/images/sb-category-live-drum-tracks.jpg);

}
.session-block-text{
 
}

.more-categories{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.more-categories button {
    align-items: center;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    color: #4100f5;
    padding: 20px 56px;
    position: relative;
    

}

/* ---- Section 3 ---- */

.section-3-wanttowork{
    display: block;
    background-color: #f5f5f5;
}
.section-3-wanttowork article{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 90px 0px;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.section-3-wanttowork article h1{
    font-size: 48px;
    line-height:56px;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -1px;
    font-weight: 700;
    
}
.section-3-wanttowork article p{
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: inherit;
    font-weight: 400;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.section-3-stamps{
    display: block;
}
.section-3-stamps-conteiner{
    display: flex;
    flex-direction: row;
    padding: 90px 48px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.section-3-stamps-conteiner div{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    width: 310px;

}
.section-3-stamps-image{
    padding: 16px;
    text-align: center;
}

.section-3-stamps-conteiner h1{
    text-align: center;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 700;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.section-3-stamps-conteiner p{
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}